@font-face {
    font-family: 'Montserrat';
    src: url('../webfonts/Montserrat-Regular.ttf'),
        url('../webfonts/Montserrat-Bold.ttf'),
        url('../webfonts/Montserrat-Italic.ttf');
}

@font-face {
    font-family: 'mplus1p';
    src: url('../webfonts/MPLUS1p-Regular.ttf'),
        url('../webfonts/MPLUS1p-Bold.ttf');
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #2F4558;
}

a {
    color: #2F4558;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

a:hover {
    border-bottom: 1px solid #2F4558;
    color: #2F4558;
}

a,
button {
    transition: all .3s linear;
}

a:focus,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'mplus1p', sans-serif;
    font-weight: bold;
    text-align: center;
}

.logo-block img {
    width: 102px;
}

.logo-block a:hover {
    border-bottom: 1px solid transparent;
}

.main-title h1 {
    font-size: 40px
}

.main-title h1 span {
    display: block;
}

.header-main-flex {
    display: flex;
    padding: 60px 0 40px 0;
}

.main-title {
    flex-grow: 1;
}

.page-header {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.top-menu-flex {
    display: flex;
    padding-bottom: 550px;
}

.navbar-expand-md {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    flex-grow: 1;
}

.navbar-expand-md a {
    font-size: 18px;
    color: #2F4558;
}

.navbar-expand-md a:hover {
    color: #2F4558;
}

.button-green-main {
    font-size: 18px;
    color: #fff;
    background-color: #9AC31B;
    border: 2px solid #9AC31B;
    border-radius: 10px;
    padding: 16px 24px;
}

.button-green-main:hover {
    background-color: transparent;
    border: 2px solid #9AC31B;
    color: #2F4558;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
    font-weight: bold;
}

.top-menu-flex .button-green-main {
    margin-left: 40px;
}

.footer-logo img {
    width: 165px;
}

.subtitle-item {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}

.advantages-block {
    background-image: url('../images/advantages.jpeg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
    padding-bottom: 50px;
}

.white-overlay {
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-relative {
    position: relative;
}

.advantages-block h2 {
    padding-top: 60px;
}

.advantages-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.microfids-image img {
    width: 100%;
}

.advantages-title {
    width: 464px;
    background: rgba(255, 255, 255, 0.6);
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.agrologo img {
    width: 160px;
    margin-bottom: 20px;
}

.microfids-image {
    width: 50%;
}

.blue-block {
    background-color: #e3f0fa;
    position: relative;
}

.effect-block {
    display: flex;
    align-items: center;
    width: 60%;
    margin: auto;
    padding-top: 60px;
    margin-bottom: 60px;
}

.effect-image {
    margin-right: 30px;
}

.blue-block::before {
    top: 0;
    content: '';
    width: 100%;
    position: absolute;
    height: 50px;
    background: linear-gradient(#fff, #e3f0fa);
}

.canisters-text {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 61%;
    padding: 25px;
    display: flex;
    align-items: center;
    box-shadow: 3px 4px 30px -13px #333;
}

.canisters-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.canisters-img img {
    width: 100%;
}

.canisters-img {
    width: 37%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 4px 30px -13px #333;
}

.canisters-img-small {
    width: 18%;
}

.canisters-text-blue {
    background-color: #0069A3;
    color: #fff;
    text-align: left;
}

.text-block-item-big {
    font-size: 48px;
    text-align: center;
    margin-right: 20px;
    line-height: 1;
    font-weight: bold;
}

.vegetables-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.vegetables-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 68.5%;
    margin-bottom: -20px;
}

.vegetables-item img {
    width: 100%;
}

.vegetables-item {
    width: 32%;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 4px 30px -13px #333;
}

.vegetables-text {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: 3px 4px 30px -13px #333;
}

.vegetables-text span {
    font-size: 48px;
    font-weight: bold;
}

.text-images-half {
    width: 49%;
}

.text-images-half span {
    color: #9AC31B;
}

.white-blue-block {
    background-color: #F5FBFF;
    margin-top: -170px;
    z-index: 1;
    position: relative;
    padding-top: 200px;
    padding-bottom: 40px;
}

.science-block {
    position: relative;
    z-index: 2;
}

.catalog-set-block {
    display: flex;
    justify-content: flex-start;
    margin: 0 -15px 30px -15px;
    flex-wrap: wrap;
}

.catalog-item {
    width: 30%;
    text-align: center;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 11px;
    margin: 0 15px 40px 15px;
}

.catalog-good-name span {
    display: block;
}

.catalog-image a {
    border: none;
}

.catalog-image img {
    width: 100%;
}

.questions-form {
    background-image: url('../images/green.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 40px;
    display: flex;
    position: relative;
}

.white-title,
.questions-form .subtitle-item {
    color: #fff;
}

.button-blue-main {
    background-color: #47BDFF;
    border-color: #47BDFF;
}

.button-blue-main:hover {
    background-color: transparent;
    border: 2px solid #47BDFF;
    color: #fff;
}

.input-form {
    border: none;
    padding: 18px 20px;
    border-radius: 10px;
    flex-grow: 1;
    margin-right: 20px;
}

.questions-form form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.owl-feedback-form input,
.owl-feedback-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}

button.btn-close {
    font-size: 14px;
    z-index: 1;
    right: 15px;
    top: 7px;
    position: absolute;
}

.registration__agree a {
    color: #9AC31B;
}

.registration__agree {
    font-size: 14px;
}

.footer-page {
    background-color: #0069A3;
    padding: 40px 0;
}

.footer-flex-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
}

.footer-flex-block a {
    color: #fff;
}

.footer-info {
    text-align: center;
    width: 557px;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-politics,
.footer-copyright {
    color: #fff;
    text-align: center;
}

.footer-politics a,
.footer-copyright a {
    color: #fff;
}

.footer-copyright {
    font-size: 12px;
}

#button-up {
    display: none;
    right: 30px;
    margin: 0;
    position: fixed;
    bottom: 67px;
    outline: none;
    color: #3f4049;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
    z-index: 9;
}

#button-up::before {
    font-family: FontAwesome;
    content: "\f062";
    background-color: #fff;
    border-radius: 50%;
    padding: 8px 10.79px;
    font-size: 22px;
}

.footer-contacts-item a:hover,
.footer-menu a:hover,
.footer-copyright a:hover {
    border-color: #fff;
}

.footer-btn button:hover {
    color: #fff;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav {
        justify-content: space-around;
        width: 100%;
    }
}

@media(max-width:1199px) {
    .footer-info {
        width: 450px;
    }
}

@media(max-width: 991px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-weight: bold;
        font-size: 16px;
    }

    .top-menu-flex {
        flex-direction: column;
        align-items: center;
    }

    .button-green-main {
        font-size: 16px;
    }

    .top-menu-flex .button-green-main {
        margin-left: 0;
        margin-top: 30px;
    }

    .top-menu-flex {
        padding-bottom: 250px;
    }

    .effect-block {
        width: 100%;
    }

    .canisters-text {
        width: 100%;
    }

    .canisters-block {
        flex-wrap: wrap;
    }

    .canisters-img {
        width: 100%;
        margin-bottom: 20px;
    }

    .canisters-img-small {
        width: 49%;
    }

    .canisters-text-blue {
        margin-bottom: 20px;
    }

    .vegetables-block {
        flex-wrap: wrap;
    }

    .vegetables-images {
        width: 100%;
        margin-bottom: 0;
    }

    .vegetables-text {
        width: 100%;
    }

    .catalog-item {
        width: 29%;
    }

    .input-form {
        margin-bottom: 20px;
    }

    .footer-info {
        width: 62%;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-btn {
        margin-bottom: 40px;
    }
}

@media(max-width: 767px) {
    .main-title h1 {
        font-size: 25px;
    }

    .top-menu-flex {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
    }

    .top-menu-flex .button-green-main {
        margin-top: 0;
    }

    .navbar-expand-md {
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.6);
        flex-grow: inherit;
        justify-content: flex-end;
        padding: 10px;
    }

    .navbar-toggler-icon,
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        display: block;
        background-color: #2F4558;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .navbar-toggler-icon::before {
        content: "";
        margin-top: -8px;
    }

    .navbar-toggler-icon::after {
        content: "";
        margin-top: 8px;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    .navbar-toggler {
        padding: .25rem;
        width: 40px;
        height: 40px;
    }

    .navbar {
        position: initial;
    }

    .navbar-collapse {
        position: absolute;
        left: 0;
        top: 70px;
        background-color: rgba(255, 255, 255, 0.6);
        width: 100%;
    }

    .advantages-flex {
        flex-direction: column;
    }

    .microfids-image,
    .advantages-title {
        width: 100%;
    }

    .canisters-block {
        flex-wrap: wrap;
    }

    .canisters-img {
        width: 100%;
        margin-bottom: 20px;
    }

    .canisters-text {
        width: 100%;
    }

    .canisters-img-small {
        width: 49%;
    }

    .canisters-text-blue {
        flex-direction: column;
    }

    .catalog-set-block {
        margin: 0 0 30px 0;
        justify-content: space-between;
    }

    .catalog-item {
        width: 48%;
        margin: 0 0 40px 0;
    }

    .questions-form {
        padding: 70px 0px;
    }

    .input-form {
        margin-right: 0;
        width: 100%;
    }

    .footer-flex-block {
        flex-direction: column;
        align-items: center;
    }

    .footer-info {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .catalog-item {
        width: 100%;
    }

    .footer-menu {
        flex-direction: column;
    }

    .footer-contacts-item a {
        display: block;
    }

    .footer-contacts-item span {
        display: none;
    }
}