@font-face {
    font-family: 'Montserrat';
    src: url('../webfonts/Montserrat-Regular.ttf'),
        url('../webfonts/Montserrat-Bold.ttf'),
        url('../webfonts/Montserrat-Italic.ttf');
}

@font-face {
    font-family: 'mplus1p';
    src: url('../webfonts/MPLUS1p-Regular.ttf'),
        url('../webfonts/MPLUS1p-Bold.ttf');
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #2F4558;
}

a {
    color: #2F4558;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

a:hover {
    border-bottom: 1px solid #2F4558;
    color: #2F4558;
}

a,
button {
    transition: all .3s linear;
}

a:focus,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'mplus1p', sans-serif;
    font-weight: bold;
    text-align: center;
}

.logo-block img {
    width: 102px;
}

.logo-block a:hover {
    border-bottom: 1px solid transparent;
}

.main-title h1 {
    font-size: 40px
}

.main-title h1 span {
    display: block;
}

.header-main-flex {
    display: flex;
    padding: 60px 0 40px 0;
}

.main-title {
    flex-grow: 1;
}

.page-header {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.top-menu-flex {
    display: flex;
    padding-bottom: 550px;
}

.navbar-expand-md {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    flex-grow: 1;
}

.navbar-expand-md a {
    font-size: 18px;
    color: #2F4558;
}

.navbar-expand-md a:hover {
    color: #2F4558;
}

.button-green-main {
    font-size: 18px;
    color: #fff;
    background-color: #9AC31B;
    border: 2px solid #9AC31B;
    border-radius: 20px;
    padding: 16px 24px;
}

.button-green-main:hover {
    background-color: transparent;
    border: 2px solid #9AC31B;
    color: #2F4558;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
    font-weight: bold;
}

.top-menu-flex .button-green-main {
    margin-left: 40px;
}

.footer-logo img {
    width: 165px;
}

.subtitle-item {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}

.advantages-block {
    background-image: url('../images/advantages.jpeg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
    padding-bottom: 50px;
}

.white-overlay {
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-relative {
    position: relative;
}

.advantages-block h2 {
    padding-top: 60px;
}

.advantages-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.microfids-image img {
    width: 100%;
}

.advantages-title {
    width: 464px;
    background: rgba(255, 255, 255, 0.6);
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.agrologo img {
    width: 160px;
    margin-bottom: 20px;
}

.microfids-image {
    width: 50%;
}

.blue-block {
    background-color: #BADAF1;
    position: relative;
}

.effect-block {
    display: flex;
    align-items: center;
    width: 60%;
    margin: auto;
    padding-top: 60px;
    margin-bottom: 60px;
}

.effect-image {
    margin-right: 30px;
}

.blue-block::before {
    top: 0;
    content: '';
    width: 100%;
    position: absolute;
    height: 50px;
    background: linear-gradient(#fff, #BADAF166);
}

.canisters-text {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    padding: 25px;
}

.canisters-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.canisters-img img {
    width: 100%;
}

.canisters-img {
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
}


@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav {
        justify-content: space-around;
        width: 100%;
    }
}

@media(max-width:1199px) {}

@media(max-width: 991px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-weight: bold;
        font-size: 16px;
    }

    .top-menu-flex {
        flex-direction: column;
        align-items: center;
    }

    .button-green-main {
        font-size: 16px;
    }

    .top-menu-flex .button-green-main {
        margin-left: 0;
        margin-top: 30px;
    }

    .top-menu-flex {
        padding-bottom: 250px;
    }

    .effect-block {
        width: 100%;
    }

    .canisters-text {
        padding: 12px;
    }
}

@media(max-width: 767px) {
    .main-title h1 {
        font-size: 25px;
    }

    .top-menu-flex {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
    }

    .top-menu-flex .button-green-main {
        margin-top: 0;
    }

    .navbar-expand-md {
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.6);
        flex-grow: inherit;
        justify-content: flex-end;
        padding: 10px;
    }

    .navbar-toggler-icon,
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        display: block;
        background-color: #2F4558;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .navbar-toggler-icon::before {
        content: "";
        margin-top: -8px;
    }

    .navbar-toggler-icon::after {
        content: "";
        margin-top: 8px;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    .navbar-toggler {
        padding: .25rem;
        width: 40px;
        height: 40px;
    }

    .navbar {
        position: initial;
    }

    .navbar-collapse {
        position: absolute;
        left: 0;
        top: 70px;
        background-color: rgba(255, 255, 255, 0.6);
        width: 100%;
    }

    .advantages-flex {
        flex-direction: column;
    }

    .microfids-image,
    .advantages-title {
        width: 100%;
    }

    .canisters-block {
        flex-wrap: wrap;
    }

    .canisters-img {
        width: 100%;
        margin-bottom: 20px;
    }

    .canisters-text {
        width: 100%;
    }
}

@media (max-width: 600px) {}